/* Keyframes for text gradient animation */
@keyframes gradientText {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Keyframes for text shadow animation */
@keyframes textShadowAnimation {
  0% {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  50% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
}


